@charset "UTF-8";

/* Noto Sans KR 폰트*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');


html{width:100%; height:100%; font-family:'Noto Sans KR', sans-serif; font-size:15px;}
body{height:100%; min-height:100%; background-color:#fff;}

a:visited, a:link, a:focus, a:hover, a:active{
	color:black;
	text-decoration:none;
}
.clearFix:after{content:""; display:block; clear:both;}
.container {max-width:100%; margin:0 auto; overflow:hidden; position:relative;}
.floatleft {display:block; float:left;}
input {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	line-height:30px;
	height:30px;
	padding: 0 10px;
	vertical-align: middle;
}
body .btn {
	font-family: 'Noto Sans KR';
    font-size: 12px;
    height: 2rem;
    font-weight: 200;
	vertical-align: middle;
	display:inline-block;
	padding: 0 20px;
	line-height: 30px;
	color:#fff;
	border-radius: 5px;
	background-color: #10344a;
	transition:background-color 0.5s;
	border:0 none;
	cursor: pointer;
}
button.btn{
	font-family: 'Noto Sans KR';
	cursor:pointer;
	font-size:1rem;
	height:2rem;
}
body .btn:hover{
	background-color: #E5675A;
}

/*Workspace 안의 CSS*/
#wsMainHeader{
	z-index: 1;
}
#wsNav{
	z-index: 2;
}

#wsBody{
	position:relative;
	z-index:0;
	width:calc(100% - 200px);
	height:calc(100% - 71px);
	margin-left:200px;
	padding-top:71px;
}
#wsBodyContainer {
	width: 90%;
	padding: 30px 0;
	margin:0 auto;
}
#wsBodyContainer h3{
	color: #403C39;
	font-size: 40px;
	font-weight:900;
}
#wsBodyContainer h4{
	color: #E5675A;
	font-size: 20px;
	font-weight: 700;
	margin-top: 15px;
}

.attachModal .header{
	cursor:move;
}

/* wave 코드 여기서 부터*/
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(236, 109, 99,1) 0%, rgba(236, 109, 99,1) 100%); /* 파도 색깔 */
  color:white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.inner-header {
  height:100px;
  width:100%;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:5px; /* 파도 높이 조절 */
  max-height:30px; /* 파도 높이 조절 */
}

/* .content { */
/*   position:relative; */
/*   text-align:center; */
/*   background-color: white; */
/*   height: 440px; */
/*   border-bottom-left-radius: 10px; */
/*   border-bottom-right-radius: 10px; */
/* } */

/* 파도 Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -5s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -30s;
  animation-duration: 3s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 5s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/* wave 코드 여기서까지*/