@charset "UTF-8";

/* boardList.jsp*/
#boardListView #boardList {
	width: calc(100% - 20px);
	padding: 0 10px;
	font-size:15px;
}
#boardListView #boardList li{
	line-height : 20px;
	padding: 5px 0;
}
#boardListView #boardList li:not(#listHead):hover{
	background-color:#FCEFEE;	
}
#boardListView #boardList #listHead{
	line-height:30px;
	background-color: #EAEAEA;
}
#boardListView #boardList li.noticeLi{
	font-weight:600;
	
}
#boardListView #boardList li * {
/* 	vertical-align:middle; */
}
#boardListView #boardList li:after{
	content:"";
	display:block;
	clear:both;
}
#boardListView #boardList div{
	height:100%;
	float:left;
	text-align:center;
}
#boardListView #boardList div:nth-child(1){
	font-size:13px;
	width:10%;
}
#boardListView #boardList div:nth-child(2){
	width:60%;
}
#boardListView #boardList div:nth-child(3){
	width:10%;
}
#boardListView #boardList div:nth-child(4){
	width:10%;
}
#boardListView #boardList div:nth-child(5){
	width:10%;
}
#boardListView .replyCount{
	color:#E5675A;
	font-size:12px;
}
#boardListView a.currPage{
	background-color:#E5675A;
	color:#fff;
	cursor:default;
}
#boardListView .reverse {
	transform:rotate(180deg);
}
#boardListView .noticeMark {
	display:inline-block;
	padding: 0 7px;
	border-radius: 10px;
	background-color: #E5675A;
	color:#fff;
}

#boardListView #pagination{}
#boardListView #pagination li{	
	display:inline-block;
	width:20px;
	height:20px;
	font-size:13px;
}
#boardListView #pagination li a{	
	display:block;
	text-align:center;
	line-height:20px;
	width:100%;
	height:100%;
	border-radius:50%;
}
#boardListView #pagination li a.disable{
	color: #B7B7B7;
	cursor:default;
}	
#boardListView #pagination li a:not(.disable):not(.currPage):hover{
	background-color: #e7e7e7;
}	
/* boardList.jsp END*/

/* board view */
#replyBox > li {
	margin-bottom:5px;
}
.replyAuthor a {
	font-size:13px;
	color:crimson;
}
.replyImg {
	width:46px;
	height:46px;
	border-radius:50%;
	overflow:hidden; 
	float:left;
	margin-right:10px;
	border:2px solid #fff;
}
.replyImg img {width: 100%}
.replyDetail {
	float:left;
	width:calc(100% - 60px);
}
.replyDetail .replyAuthor{
	margin-bottom:5px;
}
.replyDetail .replyContent{
	font-size:14px;
	line-height:17px;
}
.regdate{
	font-size:13px;
	color:#aaa;
}
#addReplyDiv{
	display:block;
	margin-top:20px;
}
#addReplyDiv *{vertical-align:middle;}
#addReplyDiv .replyImg {
	display:inline-block;
	float:none;
}
#addReplyDiv #inputBox{
	display:inline-block;
	vertical-align:middle;
}