@charset "UTF-8";

/* boardList.jsp*/
#wsBodyContainer{
	width: 80%;
	margin: 0 auto;	
}
#boardListView #listHead{
	background-color: #777;
	color:#fff;
}
#boardListView #boardList {
	width:100%;
	font-size:14px;
}
#boardListView #boardList li{
	height : 30px;
}
#boardListView #boardList li * {
	vertical-align:middle;
}
#boardListView #boardList li:after{
	content:"";
	display:block;
	clear:both;
}
#boardListView #boardList div{
	height:100%;
	float:left;
	text-align:center;
}
#boardListView #boardList div:nth-child(1){
	font-size:13px;
	width:10%;
}
#boardListView #boardList div:nth-child(2){
	width:60%;
}
#boardListView #boardList div:nth-child(3){
	width:10%;
}
#boardListView #boardList div:nth-child(4){
	width:10%;
}
#boardListView #boardList div:nth-child(5){
	width:10%;
}
#boardListView .replyCount{
	color:#E5675A;
	font-size:14px;
}
#boardListView a.currPage{
	color:#E5675A;
	cursor:default;
}
#boardListView .reverse {
	transform:rotate(180deg);
}
#boardListView .noticeMark {
	display:inline-block;
	padding: 4px 5px;
	border-radius: 5px;
	background-color: #E5675A;
	color:#fff;
}

#boardListView #pagination{}
#boardListView #pagination li{
	display:inline-block;
}
/* boardList.jsp END*/

/* board view */
#replyBox > li {
	margin-bottom:5px;
}
.replyAuthor a {
	font-size:13px;
	color:crimson;
}
.replyImg {
	width:46px;
	height:46px;
	border-radius:50%;
	overflow:hidden; 
	float:left;
	margin-right:10px;
	border:2px solid #fff;
}
.replyImg img {width: 100%}
.replyDetail {
	float:left;
	width:calc(100% - 60px);
}
.replyDetail .replyAuthor{
	margin-bottom:5px;
}
.replyDetail .replyContent{
	font-size:14px;
	line-height:17px;
}
.regdate{
	font-size:13px;
	color:#aaa;
}
#addReplyDiv{
	display:block;
	margin-top:20px;
}
#addReplyDiv *{vertical-align:middle;}
#addReplyDiv .replyImg {
	display:inline-block;
	float:none;
}
#addReplyDiv #inputBox{
	display:inline-block;
	vertical-align:middle;
}