@charset "UTF-8";

/* board 공통 */
#boardInner {
	position:relative;
    width: 1280px;
    margin: 35px auto 20px;
}
#boardInner .row {
	border-bottom:1px solid #e0e0e0;
	padding:10px;
	line-height:30px;
}
#boardInner .row .floatleft {
	margin-right: 60px;
}

/******************************** boardList.jsp *****************************************/
#boardInner #boardList {
	margin-bottom:15px;
}
#boardInner #boardList li{
	line-height : 30px;
	padding: 5px 0;
	border-bottom:1px solid #E0E0E0;
}
#boardInner #boardList li:not(#listHead):hover{
	background-color:#FCEFEE;	
}
#boardInner #boardList #listHead{
	background-color: #EAEAEA;
	border-top: 1px solid #E0E0E0;
}
#boardInner #boardList #listHead > div{
	text-align:center;
}
#boardInner #boardList li.noticeLi{
	font-weight:600;
	
}
#boardInner #boardList li * {
/* 	vertical-align:middle; */
}
#boardInner #boardList li:after{
	content:"";
	display:block;
	clear:both;
}
#boardInner #boardList div{
	height:100%;
	float:left;
	text-align:center;
}
#boardInner #boardList div:nth-child(1){
	font-size:13px;
	width:10%;
}
#boardInner #boardList div:nth-child(2){
	width:60%;
	text-align:left;
}
#boardInner #boardList div:nth-child(3){
	width:10%;
}
#boardInner #boardList div:nth-child(4){
	width:10%;
}
#boardInner #boardList div:nth-child(5){
	width:10%;
}
#boardInner .replyCount{
	color:#E5675A;
	font-size:12px;
}
#boardInner a.currPage{
	background-color:#E5675A;
	color:#fff;
	cursor:default;
}
#boardInner .reverse {
	transform:rotate(180deg);
}
#boardInner .noticeMark {
	display:inline-block;
	padding: 0 7px;
	border-radius: 10px;
	background-color: #E5675A;
	color:#fff;
}

#boardInner #pagination{
	text-align:center;
	margin-bottom: 20px;
}
#boardInner #pagination li{	
	display:inline-block;
	width:20px;
	height:20px;
	font-size:13px;
}
#boardInner #pagination li a{	
	display:block;
	text-align:center;
	line-height:20px;
	width:100%;
	height:100%;
	border-radius:50%;
}
#boardInner #pagination li a.disable{
	color: #B7B7B7;
	cursor:default;
}
#boardInner #pagination li a:not(.disable):not(.currPage):hover{
	background-color: #e7e7e7;
}
#boardInner #writeBtn{
	display: block;
    padding: 10px 20px;
    float: right;
    border-radius: 3px;
    background-color: #403C39;
    color: #fff;
    font-size: 13px;
    transition: background-color .5s;
}
#boardInner #writeBtn:hover{
	background-color: #E5675A;
}
#boardInner #boardSearchForm{
	text-align:center;
	font-size: 14px;
}
#boardInner #boardSearchForm > *{
	vertical-align: middle;
    height: 35px;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
#boardInner #boardSearchForm select {
}
#boardInner #boardSearchForm input[name="keyword"] {
	padding: 0 10px;
}
#boardInner #boardSearchForm button {
	margin-left: 2px;
	width:60px;
	background-color: #403C39;
	color:#fff;
	transition:background-color .5s;
}
#boardInner #boardSearchForm button:hover{
	background-color: #E5675A;
	cursor:pointer;
	border-color: transparent;
}
#boardInner .noBoard{
	text-align: center;
	line-height: 40px;
}

/******************************** boardView.jsp *****************************************/
#boardInner #boardDetail .bold {
	display:inline-block;
	font-size: 16px;
	margin-left:10px;
	font-weight: 500;
}
#boardInner #boardDetail #content{
	min-height: 120px;
	padding: 20px 30px;
	line-height:1rem;
}
#boardInner #boardDetail .btns{
	text-align:right;
	border:0 none;
	margin-bottom: 20px;
}
#boardReply h4 {
	color:#403C39;
	margin: 15px 0;
}
#boardReply #replyWrap{
	background-color: #F4F4F4;
	padding: 25px 70px;
} 
#boardReply .replyName {
	font-weight: 500;
}
#boardReply #replyBox > li {
	margin-bottom:5px;
}
#boardReply .replyAuthor a {
	font-size:13px;
	color:crimson;
}
#boardReply .replyImg {
	width:46px;
	height:46px;
	border-radius:50%;
	overflow:hidden; 
	float:left;
	margin-right:10px;
	border:2px solid #fff;
}
#boardReply .replyImg img {width: 100%}
#boardReply .replyDetail {
	float:left;
	width:calc(100% - 65px);
	margin-left: 3px;
}
#boardReply #modifyReplyDiv .btn{
	font-size:13px;
	padding: 0 12px;
	vertical-align:bottom;
}
#boardReply #modifyReplyDiv textarea{
	vertical-align:bottom;
}
#boardReply .replyDetail .replyAuthor{
	margin-bottom:5px;
}
#boardReply .replyDetail .replyContent{
	font-size:14px;
	line-height:17px;
}
#boardReply .regdate{
	font-size:13px;
	color:#aaa;
}
#boardReply #addReplyDiv{
	display:block;
	margin-top:20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
#boardReply #addReplyDiv *{vertical-align:middle;}
#boardReply #addReplyDiv .replyImg {
	display:inline-block;
	float:none;
}
#boardReply #addReplyDiv #inputBox{
	display:inline-block;
	width: calc(100% - 64px);
	vertical-align:middle;
}
#boardReply textarea{
	width: calc(100% - 110px);
}

/******************************** boardWriteForm.jsp *****************************************/
#inputWrap .row {
	border:0 none;
}
#inputWrap .row .floatleft {
	width: 40%;
}
#inputWrap .row *{
	vertical-align:middle;
}
#inputWrap label{
	display:block;
	width: 300px;
}
#inputWrap label #title{
	width: calc(100% - 130px);
}
#inputWrap label > span{
	text-align: center;
	display:inline-block;
	width:75px;
}
#inputWrap #writer input {
	text-align:center;
	background-color: #F8F8F8;
}
#inputWrap input[type='text'],
#inputWrap select,
#inputWrap input[type='password']{
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	line-height:30px;
	height:30px;
	padding: 0 10px;
	margin-left: 20px;
}
#inputWrap .row label[for="file"] {
	width:100px;
	margin-right:0;
}
#inputWrap #uploadArea {
	position:relative;
	border-radius: 5px;
	border: 1px dashed #bbb;
    min-height: 50px;
    width: calc(100% - 122px);
    padding: 10px;
    margin-right: 0;
    transition:background-color 0.5s;
    line-height:18px;
}
#inputWrap #uploadArea span{
	display:block;
	text-align:center;
	color: #bbb;
}
#inputWrap #uploadArea span.on{
	color: #000;
}
#inputWrap input#file {
    cursor:pointer;
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
	background-color:transparent;
}
#inputWrap #uploadArea:hover{
	background-color: #eee
}
#inputWrap #btns {
	padding:10px;
	text-align: right;
}

/********************************** boardCheckPass *****************************************/
#boardInner.checkPassInner {
	display:table;
	height: 300px;
	text-align:center;
}
#boardInner.checkPassInner #passForm{
	display:table-cell;
	vertical-align:middle;
}

/************************************** boardModifyForm ********************************/
#boardInner #modifyForm label { width: 40%;}








