@charset "UTF-8";

.no-drag {
	-ms-user-select: none; 
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}
#wsBody h4{
	color: #403C39;
}
#wsBodyContainer.calendarContainer {
	width: 100%;
	padding: 0;
}
#monthCalendar {
	width: 90%;
	margin: 0 auto;
	max-width: 1028px;
}
#calMonthBody{
	background-color: #fff;
}
td {
	border: 0px;
	padding: 0px;
}
/* 월 달력 */
#YearTitle {
	font-size: 15pt;
	color: #6b635c;
}
#MonthTitle {
	font-size: 35pt;
	color: #6b635c;
}
.drawMonthCalendarUpper {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}
.drawMonthCalendarUpper th {
	height: 25px;
	width: 150px;
	padding: 0px;
	margin: 0px;
	background-color: #E6E2E1;
	vertical-align: middle;
} 
/* 요일 */
.drawMonthCalDiv {
	position: relative;
}
.drawMonthCalendarLowerForClick {
	height: 120px;
	width: 100%;
	position: absolute;
	border-collapse: collapse;
	border: 0px;
} 
/* table1(클릭) */
.drawMonthCalendarLowerForClick th {
	height: 20px;
	width: 150px;
	position: relative;
	padding: 0px;
	border: 1px solid #bbb;
	border-top:0;
}
.drawMonthCalendarLowerForClick th:hover {
	background-color: red;
}
.inactivation {
	color: grey;
	background-color: rgba(117, 154, 189, 0.1)
} 
.drawMonthCalendarLower {
	height: 120px;
	width: 100%;
	position: relative;
	border-collapse: collapse;
	border: 0px;
/* 	pointer-events: none; */
} 
/* table2(날짜) */
.drawMonthCalendarLowerDate {
	height: 15px;
}
.drawMonthCalendarLower th {
	height: 20px;
	width: 150px;
	position: relative;
	padding: 0px;
	text-align: left;
	padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 5px;
}
/* .frontVacantTd, */
/* .backVacantTd { */
/* 	pointer-events: none; */
/* } */

.drawMonthCalendarLower td:hover { /* 수정?? */
	background-color: rgba(230, 226, 225, 0.5);
}
.scheduleTr {
	height: 20px;
	border: 0px white;
}
.frontVacantTd {
	margin-bottom: 1pt;
	margin-top: 1pt;
}
.middleDiv {
	cursor:pointer;
	height:100%;
	font-size:13px;
	line-height:20px;
	border: 1px;
}
.complete {
	border-radius: 10px;
}
.left {
	border-bottom-left-radius: 10px; 
	border-top-left-radius: 10px;
}
.right {
	border-bottom-right-radius: 10px; 
	border-top-right-radius: 10px; 
}
.full {
}
.backVacantTd {
	margin-bottom: 1pt;
	margin-top: 1pt;
}

/* -------------------- 연 달력 -------------------- */
#yearCalendar {
	width: 90%;
    margin: 0 auto;
    max-width: 1028px;
}
#yearCalendar .dateDisplay {
    text-align: center;
    padding: 10px;
    padding-top: 30px
}
#calYearBody {
/* 	margin-top: 35px; */
}
.drawYearCalDiv {
	position: relative;
}
#calYearTitle {
	font-size: 35pt;
	color: #6b635c;
	margin: 0px 20px;
}

.drawYearCalendarForClick {
	height: 120px;
	width: 100%;
	position: absolute;
	border-collapse: collapse;
	border: 0px;
	
} /* table1(클릭) */
.drawYearCalendarForClick td {
	height: 20px;
	width: 150px;
	position: relative;
	padding: 0px;
	border: 1px solid #bbb;
}

.drawYearCalendar {
	height: 120px;
	width: 100%;
	position: relative;
	border-collapse: collapse;
	border: 0px;
} /* table2(날짜) */
.drawYearCalendarDate {
	height: 15px;
	padding: 0px;
	background-color: #E6E2E1;
}
.drawYearCalendar tr {
	position: relative;
}

.drawYearCalendar th {
	height: 25px;
	position: relative;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	width: 257px;
}
.middleTdYear {
	border: 1px; 
	height: 100%;
    cursor: pointer;
    line-height: 20px;
}

/* 모달 */
/* .addModal{display: none; width: 300px; height: 300px; top: 10%; left: 10%; position: absolute; background-color: #a37f82;} */
/* .detailModal{display: none; width: 300px; height: 300px; top: 10%; left: 10%; position: absolute; background-color: #a37f82;}  */
/* .modifyModal{display: none; width: 300px; height: 300px; top: 10%; left: 10%; position: absolute; background-color: #a37f82;} */
/* .detailModalYear{display: none; width: 300px; height: 300px; top: 10%; left: 10%; position: absolute; background-color: #a37f82;} */
#wsBodyContainer select, #wsBodyContainer input {
	box-sizing: border-box;
}

.calHeader {
	background-color: #f5f5f5;
	padding: 10px 20px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.calHeader button {
	border: 0px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #57504a;
	color: white;
}
.calHeader div {
	display: inline;
}
.calSearch {
	display: inline;
}
.headerChangeCal {
	float: right;
}
#MonthTitle {
	margin: 0px 20px;
}
.dateDisplay {
	text-align: center;
	padding: 10px;
}
.dateDisplay button {
	border: 0px solid #ccc;
	box-sizing: border-box;
	background-color: white;
	color: burlywood;
}
.dateDisplay svg {
	font-size: 20px;
	margin-bottom: 10px;
}
.dateDisplayInput {
	text-align: center;
	padding: 10px;
}
.attachModal {
	display: none;
	position: fixed;
	top: 15%;
	left: 50%;
	margin-left: -212.5px;
	width: 500px;
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	z-index: 10;
	box-shadow: 2px 2px 5px 0.5px rgba(33, 33, 33, 0.2);
}
.modalHead {
	text-align: center;
	padding-bottom: 30px;
}
.modalHead h3 {
	font-size: 20pt;
	padding: 15px;
}
.modalHead p {
	font-size: 10pt;
	color: #c4c4c4;
}
.modalBody {
	text-align: left;
}
.modalBody h4{
	color: #403C39;
}
.modalBody div {
/* 	padding: 5px; */
}
.modalBody input, 
.modalBody textarea, 
.modalBody select {
	padding: 5px;
	margin: 2px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.titleDiv,
.selectDiv,
.colorDiv,
.checkboxDiv,
.dateDiv div {
	display: inline-block;
}
.dateDiv {
	display: inline-block;
    width: 55%;
}
.checkboxDiv {
	width: 44%;
	text-align: center;
}
.headerCheckboxDiv {
	padding: 0px 10px;
}
.headerCheckboxDiv input {
	width: 20px;
	margin-right: 0px; 
}
.headerCheckboxDiv label {
	padding-right: 5px;
}
.checkboxDiv input {
	display: none;
	margin: 0px 5px 0px 0px;
}
.checkboxDiv label {
    margin-left: 2px;
    padding: 0px 4px;
}
.checkboxbtn {
    font-size: 1rem;
    height: 2rem;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    background-color: #655B5A;
    transition: background-color 0.2s;
    border: 0 none;
    cursor: pointer;
}
.checkboxDiv input:checked + label {
	background-color: #EC6D63;
}
.titleDiv {
    width: 60%;
    margin-right: 20px;
}
.selectDiv {
	margin-right: 20px;
}
#detailForm .selectDiv {	
	width: 100px;
} 
.dateDiv div {
    width: 44%;
}
.dateDiv input {
	width: 100%;
}
.dateDiv span {
	margin: 7px;
    font-weight: 500;
}

.colorDiv img {
	display: none;
}
.colorDiv input {
	padding: 0px;
	cursor: pointer;
}
.modalTitle {
	width: 100%;
}
.modalContent {
	width: 100%;
}

#innerBtn {
	margin-top: 25px;
	text-align: center;
}

#innerBtn a {
	display: inline-block;
	position: relative;
	width: 30%;
    padding: 10px 0px;
	background-color: #403C39;
	color: white;
	text-align: center;
	border-radius: 5px;
}
#innerBtn a:hover {
	background-color: #E5675A;
	transition:background-color .5s;
}
/* 190918 TK */
#wsBodyContainer select {
	height: 30px;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #d1d1d1;
}
#searchKeyword {
	border-radius: 5px 0 0 5px;
}
#searchBtn {
	border-radius: 0 5px 5px 0;
}
#detailForm form div > p {
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(209, 205, 205, 0.5);
    text-align: center;
    border-radius: 5px;
}

/* calSearchList */

.calendarSearchList {
	width: 90%;
    padding: 30px 0;
    margin: 0 auto;
}
.searchList {
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    width: 1280px;
    margin: 35px auto 20px;
}
.searchList ul {
	margin-bottom: 20px;
}
.searchList li {
	line-height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #E0E0E0;
}
.searchList li:after {
	content: "";
    display: block;
    clear: both;
}
.searchListHead {
	background-color: #EAEAEA;
    border-top: 1px solid #E0E0E0;	
}
.searchListInner {
    border-bottom: 1px solid #E0E0E0;
}
.searchList div {
	height: 100%;
    float: left;
    text-align: center;
}
.searchList div:nth-child(1) {
	width: 20%
}
.searchList div:nth-child(2) {
	width: 50%
}
.searchList div:nth-child(3) {
	width: 10%
}
.searchList div:nth-child(4) {
	width: 10%
}
.searchList div:nth-child(5) {
	width: 10%
}
#navigation {
	text-align: center;
}
#navigation li {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 13px;	
}
#navigation a {
	display: block;
    text-align: center;
    line-height: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#navigation .prevAngle a,
#navigation .nextAngle a {
	color: #B7B7B7;
}
#navigation .currPage{
	background-color:#E5675A;
	color:#fff;
	cursor:default;
}