@charset "UTF-8";

.no-drag {
	-ms-user-select: none; 
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}
#wsBodyContainer.calendarContainer {
	width: 100%;
	padding: 0;
}
#monthCalendar {
	width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 1500px;
}
#calMonthBody{
	background-color: #fff;
}
td {
	border: 0px;
	padding: 0px;
}
/* 월 달력 */
#YearTitle {
	font-size: 15pt;
	color: #6b635c;
}
#MonthTitle {
	font-size: 31pt;
    color: #32444f;
    font-weight: 200;
}
.drawMonthCalendarUpper {
	width: 100%;
	border-collapse: collapse;
	border: 0px;
}
.drawMonthCalendarUpper th {
	height: 35px;
    font-size: 14px;
    width: 150px;
    padding: 0px;
    margin: 0px;
    color: #10344a;
    font-weight: 500;
    border-bottom: 0.5px solid #9b9fb0;
    background-color: #e6e9eb;
    vertical-align: middle;
} 
/* 요일 */
.drawMonthCalDiv {
	position: relative;
}
.drawMonthCalendarLowerForClick {
	height: 100%;
	width: 100%;
	position: absolute;
	border-collapse: collapse;
	border: 0px;
} 
/* table1(클릭) */
.drawMonthCalendarLowerForClick th {
	height: 20px;
	width: 150px;
	position: relative;
	padding: 0px;
	border: 1px solid #bbb;
	border-top:0;
}
.drawMonthCalendarLowerForClick th:hover {
	background-color: red;
}
#inactivation {
	color: grey;
	background-color: rgba(117, 154, 189, 0.1)
} 
.drawMonthCalendarLower {
	height: 120px;
	width: 100%;
	position: relative;
	border-collapse: collapse;
	border: 0px;
} 
/* table2(날짜) */
.drawMonthCalendarLowerDate {
	height: 15px;
}
.drawMonthCalendarLower th {
	height: 20px;
    width: 150px;
    position: relative;
    padding: 0px;
    text-align: left;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 5px;
    color: #294557;
    font-weight: 300;
}
.drawMonthCalendarLower td:hover {
	background-color: rgba(230, 226, 225, 0.5);
}
.scheduleTr {
	height: 20px;
	border: 0px white;
}
.frontVacantTd {
	margin-bottom: 1pt;
	margin-top: 1pt;
}
.middleDiv {
	cursor:pointer;
	height:100%;
	line-height:20px;
	border: 1px;
}
.complete {
	font-size: 12px;
    padding-left: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.left {
	font-size: 12px;
    padding-left: 3px;
    margin-left: 10px;
}
.right {
	font-size: 12px;
    padding-left: 3px;
    margin-right: 10px;
}
.full {
	font-size: 12px;
	padding-left: 3px;
}
.backVacantTd {
	margin-bottom: 1pt;
	margin-top: 1pt;
}

/* -------------------- 연 달력 -------------------- */
#yearCalendar {
	width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}
#yearCalendar .dateDisplay {
    text-align: center;
    padding: 10px;
    padding-top: 30px
}
.drawYearCalDiv {
	position: relative;
}
#calYearTitle {
	font-size: 35pt;
	color: #6b635c;
	margin: 0px 20px;
}
.drawYearCalendarForClick {
	height: 200px;
	width: 100%;
	position: absolute;
	border-collapse: collapse;
	border: 0px;
} 
/* table1(클릭) */
.drawYearCalendarForClick td {
	height: 20px;
	width: 150px;
	position: relative;
	padding: 0px;
	border: 1px solid #bbb;
}
.drawYearCalendar {
	height: 200px;
	width: 100%;
	position: relative;
	border-collapse: collapse;
	border: 0px;
} 
/* table2(날짜) */
.drawYearCalendarDate {
	height: 15px;
	padding: 0px;
	background-color: #E6E2E1;
}
.drawYearCalendar tr {
	position: relative;
}
.drawYearCalendar th {
	height: 25px;
	position: relative;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	width: 257px;
}
.middleTdYear {
	border: 1px;
    cursor: pointer;
    line-height: 20px;
}

/* 공통 */

#wsBodyContainer select, 
#wsBodyContainer input {
	box-sizing: border-box;
}
.calHeader {
	background-color: #f5f5f5;
	padding: 10px 20px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.calHeader button {
	border: 0px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 13px;
	background-color: #57504a;
	color: white;
}
.calHeader div {
	display: inline;
}
.calSearch {
	display: inline;
}
.headerChangeCal {
	float: right;
}
#MonthTitle {
	margin: 0px 20px;
}
.dateDisplay {
	text-align: center;
	padding: 10px;
}
.dateDisplay button {
	border: 0px solid #ccc;
	box-sizing: border-box;
	background-color: white;
	color: #5d829e;
}
.dateDisplay button:hover{
	cursor: pointer;
}
.dateDisplay svg {
	font-size: 20px;
	margin-bottom: 10px;
}
.dateDisplayInput {
	text-align: center;
	padding: 10px;
}
.dateDisplayInput input[type="text"] {
    width: 62px;
    text-align: right;
    height: 22px;
    border-radius: 3px;
}
.dateDisplayInput input{
	margin-left: 11px;
}
.headerCheckboxDiv {
	padding: 0px 10px;
}
.headerCheckboxDiv input {
	width: 20px;
	margin-right: 0px; 
}
.headerCheckboxDiv label {
	padding-right: 5px;
}

/* 모달 */

#wsBody h4{
	color: #403C39;
	font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}
.attachModal {
	display: none;
	position: fixed;
	top: 15%;
	left: 50%;
	margin-left: -212.5px;
	width: 500px;
	background-color: white;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 2px 2px 5px 0.5px rgba(33, 33, 33, 0.2);
}
.header {
	text-align: center;
	margin-bottom: 20px;
}
.header h3 {
	font-size: 20pt;
	padding: 15px;
	color: white;
}
.header p {
	font-size: 10pt;
}
.modalHead h3 {
	color: white;
}
.modalBody {
	text-align: left;
	padding: 0px 20px 20px 20px;
}
.modalBody h4{
	color: #403C39;
}
.modalBody input, 
.modalBody textarea, 
.modalBody select {
	padding: 5px;
	margin: 2px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.firstRow {
	margin-bottom: 15px;
}
.middleRow {
	margin-bottom: 20px;
}
.lastRow h4 {
	vertical-align: top;
}
.titleDiv,
.selectDiv,
.colorDiv,
.checkboxDiv,
.dateDiv div {
	display: inline-block;
}
.selectDiv {
	width: 105px;
	margin-right: 10px;
}
.colorDiv {
	width: 70px;
}
.dateDiv {
	display: inline-block;
    width: 263px;
}
.dateDiv h4 {
	margin-right: 5px;
}
.checkboxDiv {
	text-align: center;
}
.checkboxDiv input {
	display: none;
	margin: 0px 5px 0px 0px;
}
.checkboxDiv label {
    margin-left: 2px;
    padding: 0px 4px;
    font-size: 12px;
    border: 1px solid #bab8b6;
}
.checkboxDiv label:hover {
	background-color: #EC6D63;
	color: white;
	border-color: transparent;
}
.checkboxbtn {
    font-size: 1rem;
    height: 2rem;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    line-height: 30px;
    background-color: white;
    color: #454443;
    border-radius: 3px;
    transition: background-color 0.2s;
    border: 0 none;
    cursor: pointer;
}
.checkboxDiv input:checked + label {
	background-color: #EC6D63;
    color: white;
    border-color: transparent;
}
.titleDiv {
    width: 55%;
    margin-right: 10px;
}
.titleDiv input {
	width: 200px;
}
#detailForm .selectDiv, 
#detailFormYear .selectDiv {	
	width: 150px;
} 
.detailModal .dateDiv {
	width: 262px;
    display: inline-block;
}
#detailDate {
	width: 215px;
	display: inline-block;
	font-size: 13px;
}
#detailContent,
#detailContentYear {
	width: 417px;
	display: inline-block;
}
.dateDiv input {
	width: 95px;
	height: 32px;
}
.dateDiv span {
	margin: 5px;
    font-weight: 500;
}
.colorDiv img {
	display: none;
}
.colorDiv input {
	padding: 0px;
	cursor: pointer;
}
.modalTitle {
	width: 100%;
}
#detailTitle,
#detailTitleYear {
	display: inline-block;
    width: 200px;
}
#detailType,
#detailTypeYear {
	display: inline-block;
    width: 100px;
}
.modalContent {
	width: 417px;
}
#innerBtn,
#innerBtnDetail {
	margin-top: 15px;
	text-align: center;
}
#innerBtn a,
#innerBtnDetail a {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 30%;
    width: calc(100% - 384px);
    padding: 7px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: white;
    color: #454443;
    border: 1px solid #bab8b6;
    text-align: center;
    margin-right: 5px;
    border-radius: 3px;
}
#innerBtn a:hover,
#innerBtnDetail a:hover {
	background-color: #E5675A;
	transition: background-color .5s;
	border-color: transparent;
	color: white;
}
#wsBodyContainer select {
	height: 30px;
	border-radius: 5px;
	vertical-align: middle;
	border: 1px solid #d1d1d1;
}
#searchKeyword {
	border-radius: 5px 0 0 5px;
}
#searchBtn {
	border-radius: 0 5px 5px 0;
}
#detailForm form div > p,
#detailFormYear form div > p {
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(209, 205, 205, 0.5);
    text-align: center;
    border-radius: 5px;
}

/* calSearchList */

.calendarSearchList {
	width: 90%;
    padding: 30px 0;
    margin: 0 auto;
}
.searchList {
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    width: 1280px;
    margin: 35px auto 20px;
}
.searchList ul {
	margin-bottom: 20px;
}
.searchList li {
	line-height: 30px;
    padding: 5px 0;
    border-bottom: 1px solid #E0E0E0;
}
.searchList li:after {
	content: "";
    display: block;
    clear: both;
}
.searchListHead {
	background-color: #EAEAEA;
    border-top: 1px solid #E0E0E0;	
}
.searchListInner {
    border-bottom: 1px solid #E0E0E0;
}
.searchList div {
	height: 100%;
    float: left;
    text-align: center;
}
.searchList div:nth-child(1) {
	width: 20%
}
.searchList div:nth-child(2) {
	width: 50%
}
.searchList div:nth-child(3) {
	width: 10%
}
.searchList div:nth-child(4) {
	width: 10%
}
.searchList div:nth-child(5) {
	width: 10%
}
#navigation {
	text-align: center;
}
#navigation li {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 13px;	
}
#navigation a {
	display: block;
    text-align: center;
    line-height: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#navigation .prevAngle a,
#navigation .nextAngle a {
	color: #B7B7B7;
}
#navigation .currPage{
	background-color:#E5675A;
	color:#fff;
	cursor:default;
}