@charset "UTF-8";
.attachModal{
	display: none;
	position: fixed;
	top: 15%;
	left: 30%;
	width: 525px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	z-index: 10;
	box-shadow: 2px 2px 10px 1px #6e6d6d;
}
.addFileInputWrap {
	margin-bottom: 10px;
}

#addCodeModal {
 	text-align: left; 
}
#favoriteArea{
	margin-top: 10px;
	margin-bottom: 10px;
}

.row ul {
	list-style: none;
	padding-left: 0px;
}

.chatMsg {
	position: relative;
	opacity: 1;
	background-color: #ebe6e6;
	border-bottom: 0.5px solid #bdbbbb;
	padding: 10px;
}
#chatInput{
	resize: none;
	width : 85%;	
}
.myMsg {
	position: relative;
	opacity: 1;
	background-color: #deeafc;
	border-bottom: 0.5px solid #bdbbbb;
	padding: 10px;
}

.chat {
	position: static;
	background-color: white;
	height: 500px;
	overflow-y: scroll;
}

.name>p {
	font-weight: bolder;
}

.date {
	font-weight: normal;
	font-size: 5px;
}

.profileImg {
	display: inline-block;
	position : relative;
	top : 0px;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: white;
	margin-right: 10px;
	margin-top: 5px;
	vertical-align: top;
}

.profileImg img {
	width: 100%;
	border-radius: 50px;
}

.profileImg a {
	width: 100%;
}

.onlyMsgBox {
	width : 80%;
	display: inline-block;
	position: relative;
}

.name {
	display: inline-block;
	position: relative;
	top: 0px;
}

.content {
	display: inline-block;
	position: relative;
	paddig: 10px;
}

.content a {
	color: #f54640;
}

.attachDetail {
	display: none;
	text-align: center;
	background-color: #f5f5f5;
	border: 0.5px solid #949292;
	border-radius: 5px 5px 0px 0px;
	width: 200px;
	padding: 10px;
}

.attach {
	display: inline-block;
	padding-right: 5px;
}
#attachBtn{
	vertical-align: middle;
}
.attach a:hover {
	color: #f04943;
}

.uploadFileName {
	color: blue;
}
#innerBtn{
	margin-top: 10px;
}
#innerBtn a {
	display: inline-block;
	position: relative;
	width: 500px;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #eb4034;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.chatFavorite {
	display: inline-block;
	position: relative; 
	width : 18px;
	height: 18px;
	background-image: url("../img/favorite.png");
	background-size: contain;
	margin-left: 10px;
	
}

.chatFavorite.on {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	background-image: url("../img/favorite_on.png");
	background-size: contain;
	margin-left: 10px;
}
#editor{
/* 	width: 400px; */
/* 	height : 100px; */
	padding : 5px;
	margin-bottom: 10px;
}
.CodeMirror-scroll{
/* 	padding-left : 35px; */
	padding : 5px 10px 20px 30px;
/* 	padding : 10px; */
	font-size: 14px;
	font-family:'Noto Sans KR', sans-serif;
	letter-spacing : 0.5px;
	word-spacing : 2px;
}
.onlyMsgBox p.content {
	width:100%;
}
.CodeMirror{
	width : 100%;
	height : 100px;
	line-height:18px;
	border-radius: 8px;
	padding : 10px;
	margin-top: 10px;
}
pre .CodeMirror-line{
	padding-bottom : 5px;
}

.map_wrap, .map_wrap * {margin:0;padding:0;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {
	position:relative;
	width:800px;
	height:460px;}
#map {
	position:relative;
	left:300px;
	width:500px;
	height:460px;}
#menu_wrap {
	position:absolute;top:0;left:0;bottom:0;
	width:250px;
	height : 460px;
	margin: 0px 0px 40px 10px;
	overflow-y:auto;
	background:rgba(255, 255, 255, 0.7);
/* 	z-index: 1; */
	font-size:12px;
	border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
    .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    
    .info .link {color: #5085BB;}