@charset "UTF-8";
.attachModal{
	display: none;
	position: fixed;
	top: 17%;
	left: 30%;
	width: 525px;
	background-color: white;
	text-align: center;
	z-index: 2;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 2px 2px 5px 0.5px rgba(33, 33, 33, 0.2);
}

#wsMainHeader{
    position: fixed;
    width: calc(100% - 200px);
    height: 70px;
    background-color: #fff;
    right: 0;
    border-bottom: 1px solid #e7e7e7;
}
#wsMainHeader .container {
	width:calc(100% - 50px);
	height:40px;
	padding:15px 25px;
}
#logo{
    margin: 20px auto 0;
	width:120px;
	height:40px;
}
#logo a {
	display:block;
	width:100%;
	height:100%;
}
#logo img {
	width:100%;
}
#header nav {  
	position:relative;
	width:calc(100% - 300px);
	height:100%;
	float:left;
}
#header nav ul { 
	width:750px;
	position:absolute;
	bottom:0;
}
#header nav li {
	display: inline-block;
	width: 25%;
	text-align:center;
}   

#header nav li a{
	font-weight:500;
	font-size:20px;
	color:#665A5A;
	transition:color .5s;
}
#header nav li a:hover{
	color:#EC6D63;
}
#member-nav{
	width:150px;
	height:100%;
}
#member-nav ul{
	width:100%;
	height:100%;
}
#member-nav ul li {
	float:left;
	width:46%;
	height:100%;
	margin-left:4%;
	text-align:center;
	position:relative;
}

#member-nav ul li .member-btn{
	position:absolute;
	bottom:0;
	right:0;
}
a.member-btn {
	display:block;
	font-size:14px;
	background-color:#665A5A;
	color:#fff;
	padding:10px;
	border-radius:4px;
	transition: background-color .5s;
}

a.member-btn:hover{
	background-color:#EC6D63;
}
#chatRoomInfo{
	display : inline-block;
	position : relative;
	padding-top : 10px;
	padding-left: 10px;
}
#chatRoomInfo p{
	font-size : 20px;
	color: #807d78;
}
.profileImg:hover{
	cursor: pointer;
}
.memberProfileImg{
	margin-top : 20px;
	margin-bottom : 10px;
	width : 200px;
	height : 200px;
	border-radius: 50%;
}
.memberProfileImg img{
	width : 200px;
	height : 200px;
	border-radius: 50%;
}
#memberInfoBody a{
	display: block;
	background-color: #403C39;
	color : white;
	padding : 10px;
	border-radius: 5px;
	width : calc(100% - 20px);
}
#memberInfoBody a:hover{
	background-color: #E5675A;
}
.memberProfileInfo{
	display : inline-block;
	padding : 10px;
	vertical-align: top;
}
.memberProfileInfo h3{
	display : inline-block;
	font-size : 17px;
	font-weight: bolder;
	margin-left : 15px;
	margin-right : 15px;
}
.memberProfileInfo p{
	display : inline-block;
}
#alarmDiv{
	right: 73px;
    display: inline-block;
    top: 27px;
    position: absolute;
    width: 19px;
    height: 19px;
    color: #87817c;
    font-size: 18px;
}
#alarmDiv:hover{
	cursor: pointer;
}
#alarmOn{
	display: none;
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: #f74b39;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
#alarmInfoDiv{
	position: fixed;
    display: inline-block;
    right: 0px;
    top: 70px;
    z-index: 0;
    width: 314px;
    height: 0px;
    border-radius: 0px 0px 0px 10px;
    background-color: #fcfcfc;
    border-bottom: 1.3px solid #bdbbbb;
    border-left: 1.3px solid #bdbbbb;
}