@charset "UTF-8";
.attachModal{
	display: none;
    position: fixed;
    top: 19%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    text-align: center;
	background-color: white;
    z-index: 2;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 2px 2px 5px 0.5px rgba(33, 33, 33, 0.2);
}

#wsMainHeader{
    position: fixed;
    width: calc(100% - 200px);
    height: 70px;
    background-color: #fff;
    right: 0;
    border-bottom: 1px solid #e7e7e7;
}
#wsMainHeader .container {
	width:calc(100% - 50px);
	height:40px;
	padding:15px 25px;
}
#logo{
    margin: 20px auto 0;
	width:120px;
	height:40px;
}
#logo a {
	display:block;
	width:100%;
	height:100%;
}
#logo img {
	width:100%;
}
#header nav {  
	position:relative;
	width:calc(100% - 300px);
	height:100%;
	float:left;
}
#header nav ul { 
	width:750px;
	position:absolute;
	bottom:0;
}
#header nav li {
	display: inline-block;
	width: 25%;
	text-align:center;
}   

#header nav li a{
	font-weight:500;
	font-size:20px;
	color:#665A5A;
	transition:color .5s;
}
#header nav li a:hover{
	color:#EC6D63;
}
#member-nav{
	width:150px;
	height:100%;
}
#member-nav ul{
	width:100%;
	height:100%;
}
#member-nav ul li {
	float:left;
	width:46%;
	height:100%;
	margin-left:4%;
	text-align:center;
	position:relative;
}

#member-nav ul li .member-btn{
	position:absolute;
	bottom:0;
	right:0;
}
a.member-btn {
	display:block;
	font-size:14px;
	background-color:#665A5A;
	color:#fff;
	padding:10px;
	border-radius:4px;
	transition: background-color .5s;
}

a.member-btn:hover{
	background-color:#EC6D63;
}
#chatRoomInfo{
	display : inline-block;
	position : relative;
	padding-top : 10px;
	padding-left: 10px;
}
#chatRoomInfo p{
	font-size : 20px;
	color: #807d78;
}
.profileImg:hover{
	cursor: pointer;
}
.memberProfileImg{
	margin-top : 20px;
	margin-bottom : 10px;
	width : 200px;
	height : 200px;
	border-radius: 50%;
}
.memberProfileImg img{
	width : 200px;
	height : 200px;
	border-radius: 50%;
}
#memberInfoBody a{
	display: block;
	background-color: #403C39;
	color : white;
	padding : 10px;
	border-radius: 5px;
	width : calc(100% - 20px);
}
#memberInfoBody a:hover{
	background-color: #E5675A;
}
.memberProfileInfo{
	display : inline-block;
	padding : 10px;
	vertical-align: top;
}
.memberProfileInfo h3{
	display : inline-block;
	font-size : 17px;
	font-weight: bolder;
	margin-left : 15px;
	margin-right : 15px;
}
.memberProfileInfo p{
	display : inline-block;
}
#alarmDiv{
	right: 73px;
    display: inline-block;
    top: 27px;
    position: absolute;
    width: 19px;
    height: 19px;
    color: #87817c;
    font-size: 18px;
}
#alarmDiv:hover{
	cursor: pointer;
}
#alarmOn{
	display: none;
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: #f74b39;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
#alarmInfoArea{
	position: fixed;
    overflow-y: auto;
    display: none;
    right: 0px;
    top: 70px;
    z-index: 0;
    width: 462px;
    max-height:420px;
    border-radius: 0px 0px 0px 10px;
    background-color: #fcfcfc;
    border-bottom: 0.5px solid #e7e7e7;
    border-left: 0.5px solid #e7e7e7;
}
.alarmInfoDiv{
	position: relative;
    padding: 13px;
    border-bottom: 1px solid #eee;
}
.alarmInfoDiv:hover{
	background-color: #eee;
}
.alarmInfoDiv .profileImg{
	display: inline-block;
	border : 1px solid gray;
	border-radius:50%;
	width : 50px;
	height : 50px;
}
.alarmInfoDiv .profileImg img{
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
.alarmInfo{
	font-size: 13px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 13px;
    margin-left: 11px;
}
.alarmInfo a:hover{
	color : #f2452e;
}
.alarmRegDate{
	display: block;
	margin-top: 7px;
    font-size: 8px;
}
#emptyAlarmMsg{
	padding:30px 0;
    color: #919090;
}
.deleteThisAlarm{
	display: inline-block;
  	position: absolute;
    right: 35px;
    top: 33px;
	color : #87817C;
}
.deleteThisAlarm:hover{
	cursor : pointer;
	color : #f2452e;
}

#inviteAcceptModal .modalBody > p{
	margin-bottom: 16px;
}
#inviteAcceptModal ul{
	margin-bottom:23px;
}
#inviteAcceptModal h4{
	color: #403C39;
    font-size: 14px;
    margin-bottom: 13px;
    margin-top: 29px;
    font-weight: 700;	
}

.attachModal h3{
	color : #403C39;
	display: inline-block;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 15px;
    margin-right: 15px;
}
.attachModal .profileImg{
	margin-left: 5px;
    margin-right: 10px;
}
.attachModal h4 {
    color: #403C39;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 700;
}
#modalBtnDiv input{
	display: inline-block;
	vertical-align: middle;
    margin-top: 6px;
    width: 20%;
    padding: 1px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#modalBtnDiv button{
	display: inline-block;
	vertical-align: middle;
    margin-top: 6px;
    width: 28%;
    padding: 6px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#inviteAcceptModal #modalBtnDiv button{
	width : 21%;
}
#modalBtnDiv button:hover,#modalBtnDiv input:hover{
	background-color : #E5675A;
}
.mLi{
	display: inline-block;
}
.mLi .profileImg{
	width : 50px;
	height : 50px;
	border-radius: 50%;
}
.attachModal .mLi p{
	margin-top : 5px;
}
.mLi .profileImg img{
	width : 50px;
	height : 50px;
	border-radius: 50%;
}
#deleteAllAlarm{
	display: inline-block;
    background-color: white;
    padding: 10px;
    width: 95.4%;
    color: #b1b3b1;
    font-size: 13px;
    position: sticky;
    bottom: 0;
}
#deleteAllAlarm:hover{
	cursor : pointer;
	background-color: #eee;
	color : #f74b39;
}