@charset "UTF-8";

#header{
	width:100%;
	height:70px;
	background:yellow;
}
#header .container {
	width:96%;
<<<<<<< HEAD
	height:100%;
	padding:0 2%;
	background:pink;
=======
	height:40px;
	padding:15px 0;
>>>>>>> branch 'master' of https://github.com/benefitallhumankind/Colla_project.git
}
#logo{
	width:150px;
	height:40px;
	float:left;
}
#logo a {
	display:block;
	width:100%;
	height:100%;
}
#logo img {
	width:100%;
}
#header nav {  
	width:70%;
	float:left;
}
#header nav li {
	display: inline-block;;
}   


