@charset "UTF-8";

#welcome {
	display: block;
	background-color: #ffffff;
}
#welcome section,
#pricingAll section,
#faqAll section {
	position: relative;
	display: block;
	overflow: hidden;
	height: 890px;
	text-align: center;
	padding: 80px 15px 100px 15px;
}
#main-cover {
	background-color: #ffffff;
}
#main-intro {
	background-color: #EC6D63;
}
#main-coworker {
	background-color: #ffffff;
}

/* colla? */

#collaInfoAll section {
	position: relative;
	display: block;
	overflow: hidden;
	height: 500px;
	text-align: center;
	padding: 80px 15px 100px 15px;
}
#collaInfo-cover,
#collaInfo-function2 {
	background-color: #ffffff;
}
#collaInfo-function1,
#collaInfo-function3 {
	background-color: #EC6D63;
}
.collaInfo-functions {
	vertical-align: middle;
}
#collaInfo-function1-ani,
#collaInfo-function2-ani,
#collaInfo-function3-ani {
	display: inline-block;
	vertical-align: middle;
}
#collaInfo-function1-stable,
#collaInfo-function2-stable,
#collaInfo-function3-stable {
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	height: 500px;
	background-color: lime;
}
#main-intro-ani,
#main-coworker-ani,
#collaInfo-function1-ani,
#collaInfo-function2-ani,
#collaInfo-function3-ani {
	visibility: hidden;
}
.head-title {
	font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 15px;
}
.head-body {
	font-size: 22px;
	font-weight: 400;
    line-height: 1.4;
    padding: 15px;
    margin-bottom: 10px;	
}
.head-caption {
	padding: 15px;
	font-size: 16px;
	margin-bottom: 30px;
}
.box-inside {
    display: inline-flex;
    border: 1px solid #b4b4b4;
    width: 70%;
    min-width: 930px;
    border-radius: 6px;
    text-align: left;
}

/* pricing */

.price-each-col {
    padding: 20px;
    width: 30%;
    border: 1px solid #b4b4b4;
    margin: 5px;
    border-radius: 6px;
}
.price-title {
	font-weight: 900;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: left;
}
.price-desc {
    font-size: 15px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    color: #666;
    padding: 0;
    line-height: 1.4;
}
.price-amount-view {
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: flex-start;
}
.price-currency-unit {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #373839;
    display: inline-block;
}
.price-value {
    font-size: 48px;
    font-weight: 900;
    line-height: .75;
    text-align: center;
    color: #373839;
    display: inline-block;
}
.price-unit {
	margin-left: 5px;
    margin-top: 20px;
    color: gray;
    font-size: 15px;
}
.price-detail {
	margin-top: 20px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    padding: 15px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 0px 0px black;
}
.price-check {
	margin-right: 8px;
    margin-top: 4px;
}
.price-detail-content {
	display: inline-block;
}
.price-start-button {
	width: 100%;
    background-color: white;
    border-color: #EC6D63;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #EC6D63;
    font-size: 15px;
    font-weight: 600;
    border-style: solid;
}
.price-start-button:hover {
	background-color: #EC6D63;
	color: white;
}

/* faq */

.questions {
	width: 800px;
	margin: 0 auto;
}
.question {
	border-radius: 10px;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}
.active, .question:hover {
	background-color: #ccc;
}
.answer {
	border-radius: 10px;
	padding: 20px 18px;
	display: none;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #EC6D63;
}
.question:after {
  content: '열기';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;	
}
.active:after {
  content: "닫기";
}

/* aboutUs */

div {
  -webkit-backface-visibility: hidden;
}

#aboutUs-member1,
#aboutUs-member3 {
	background-color: #EC6D63;	
}
#aboutUs-member2,
#aboutUs-member4 {
	background-color: #665A5A;	
}
#aboutUsAll section {
	position: relative;
	display: block;
	overflow: hidden;
	height: 500px;
	text-align: center;
	padding: 80px 15px 100px 15px;
}

/* 카드 뒤집기 */
.aboutUs-container {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
/*   perspective: 1000px; */
}
.aboutUs-flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;	
}
.aboutUs-container:hover .aboutUs-flip-card {
  transform: rotateY(180deg);	
}
.flip-front, 
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-front {
  background-color: #bbb;
  color: black;	
}
.flip-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}