@charset "UTF-8";

#deleteMember a {
	font-weight: bolder;
}

.myPageInner {
	width: 1280px;
	margin: 35px auto 20px;
}

.btnR {
	width: 940px;
	text-align: right;
	margin: 0 auto;
}

.myPageAccountRow{
	position: relative;
	width: 940px;
	margin: 10px auto;
}

.myPageAccountRow .btnR {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

/*myPageAccount*/
.myPageContent {
	width: 838px;
	margin: 0 auto;
	border: 1px solid #DADCE0;
	border-radius: 6px;
	margin-bottom: 10px;
}

.myPageTitle {
	width: 790px;
	height: 56px;
	padding: 24px 24px 8px;
}

.myPageTitle .title {
	font-size: 22px;
	font-weight: 400;
}

.myPageTitle .content {
	font-size: 12px;
	font-weight: 400;
	padding-top: 20px;
}
.myPageContentRow {
	width: 790px;
	padding: 8px 24px;
}
.modifyRow:hover {
	background-color: #DADCE0;
	cursor: pointer;
}
.myPageContentRow > *{
	float: left;
}
.myPageContentRow .title {
	width: 156px;
}

.myPageContentRow .content {
	width: 510px;
}
.myPageContentRow p {
	padding: 16px;
}
.myPageAccount .myPageContent:first-child .myPageTitle+.myPageContentRow p:nth-child(1){
	padding: 20.5px 16px;
}
.myPageAccount .myPageContent:first-child .myPageTitle+.myPageContentRow p+p{
	padding: 20.5px 0px 20.5px 16px;
}

.myPageAccount #profileImg {
	border-radius: 50%;
	margin: 0;
	width: 56px;
	height: 56px;
	display: block;
	overflow: hidden;
	border: 2px solid #D3CDCD;
}
.myPageAccount #profileImg img{
	width: 100%
}
.myPageContent+.myPageContent{
	margin-bottom: 0px;
}
.myPageAccountRow p{
	font-size: 13px;
	width: 938px;
	margin: 10px auto;
	color: #665A5A;
}
.myPageAccountRow .removeMember{
	font-weight: bolder;
	border-bottom: 1px solid #665A5A;
	color: #665A5A;
	position: relative;
}
.contentLine {
	border: 0.5px solid #D3CDCD;
    width: 100%;
}


/* 회원 정보 수정*/
.myPageInner .myPageModify {
	width: 450px;
    margin: 0 auto;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    padding: 60px;
}

.myPageModify>p {
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

.myPageModify #profileImg {
	border-radius: 50%;
    margin: 0 auto 8px auto;
    width: 167px;
    height: 167px;
    overflow: hidden;
    border: 2px solid #D3CDCD;
}
.myPageModify #profileImg img {
	width: 100%;
	height: 100%;
}

#profileModifyModal #profileImg img {
	height: 100%;
}

.attachImgArea {
	width: 210px;
}

.attachImgArea input {
	display: none;
	position: fixed;
	top: 17%;
	left: 30%;
	width: 525px;
	background-color: white;
	text-align: center;
	padding: 30px;
	z-index: 10;
	box-shadow: 2px 2px 10px 1px #6e6d6d;
}

.attachImgArea label {
    width: 98px;
    height: 20px;
    border: 1px solid #BFBFBF;
    padding-top: 8px;
    font-size: 13px;
    margin-bottom: 25px;
}

.attachImgArea label[for="defalutImgBtn"] {
	margin-left: 10px;
}

.myPageModify .btns {
	width: 450px;
	text-align: center;
	margin: 30px auto 0px;
}

.myPageModify input {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	line-height: 30px;
	width: 400px;
	height: 60px;
	padding: 0 10px;
	margin-left: 20px;
	font-size: 15px;
	text-align: center;
}
.myPageModify #checkPwSentence{
	margin: 10px 20px;
    color: red;
}

.attachModal>* {
	margin: 0 auto;
}

.attachModal #profileImg {
	margin-bottom: 10px;
}

.attachImgArea {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

.attachImgArea * {
	float: left;
}

.attachImgArea input[type="file"], .attachImgArea input[type="button"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#innerBtn {
	margin-top: 10px;
}

#innerBtn a {
	display: inline-block;
	position: relative;
	width: 500px;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #eb4034;
	color: white;
	text-align: center;
	border-radius: 5px;
}

#myPageMain .myPageContent {
	float: left;
	width: 25%;
	height: 600px;
	margin-left: 5%;
	border-radius: 20px;
}

.modifyPw input+input {
	margin-top: 20px;
	border: 1px solid red;
}

.myPageLicense {
	padding: 30px;
}
.myPageLicense>p:nth-child(1) {
	padding-bottom: 10px;
    line-height: 25px;
}
.myPageLicense p {
	padding-bottom: 10px;
}

.myPageLicense span {
	color: #2BAE60;
}

.myPageLicense>a {
	margin-bottom: 30px;
}

.myPageLicense {
	text-align: center;
}

.myPageLicense table{
	width: 100%;
}
.myPageLicense table, th, td {
	border: 1px solid #DADCE0;
}
.myPageLicense th, td {
	padding: 15px;
}

.lcList {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.lcList h5 {
	text-align: left;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
}

.myPageContent {
	padding: 25px 50px;
}

.myPageContent>p {
	text-align: center;
	font-size: 20px;
}

.myPageContent>p+p {
	text-align: center;
	font-size: 15px;
	margin: 15px;
}
.myPageContent .myPageModule {
	border: 1px solid #DADCE0;
	border-radius: 6px;
	width: 700px;
	height: 90px;
	padding: 30px;
	margin: 15px auto;
	position: relative;
	cursor: pointer;
}

.myPageContent .myPageModule>img {
	height: 100px;
    position: absolute;
    right: 55px;
}

.myPageContent .myPageModule:hover {
	background-color: #DADCE0;
}

.myPageModule .title {
	font-size: 20px;
	margin-bottom: 15px;
}

.checkPass {
	width: 422px;
	text-align: center;
	margin: 10px 25px;
}


/*profileImgModify.jsp 이미지 크롭 모달*/
#CropImgModal{
	height: 635px;
}
#CropImgModal > .modalBody div{
	width : 500px;
	height: 500px;
}
#CropImgModal .modalBody{
	margin-top: 10px;
}

#CropImgModal > .modalBody img{
	height: 100%;
}
#CropImgModal #innerBtn{
    margin-top: 25px;
    text-align: center;
}
#CropImgModal #innerBtn a{
	display: inline-block;
    position: relative;
    width: 30%;
    padding: 10px 0px;
    background-color: #403C39;
    color: white;
    text-align: center;
    border-radius: 5px;
}
/*크롭영역을 라운드로 보이게!*/
.cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
}

/*알람 설정*/
.toggleBG {
	background: #CCCCCC;
	width: 70px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 15px;
	MARGIN-TOP: 9px;
}

.toggleFG {
	background: #FFFFFF;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 15px;
	position: relative;
	left: 0px;
}
.myPageAlarmRow .content{
	width: 467px;
}
