@charset "UTF-8";
.attachModal[id="memberInfoModal"] h3{
	margin-top: 14px;
}
.attachModal h4{
	display: inline-block;
}
.attachModal .memberProfileInfo h4{
	margin-bottom: 0px;
    margin-top: 2px;
    margin-right: 12px;
}
.attachModal .memberProfileImg{
	    margin-top: 0px;
}
#wsNav {
	width:200px;
	height:100%;
	position:fixed;
	left:0;
	bottom:0;
	color:#fff;
	background-color:#10344a;
}
#navContainer{
	width:100%;
	margin:0 auto;
	height:100%;
	text-align:center;
}
#aboutProfile{
	margin-top:20px;
}

#aboutProfile>a:nth-child(1){
	display:block;
	border-radius:50%;
	border:3px solid #fff;
	margin:0 auto;
	width:96px;
	height:96px;
	overflow:hidden;
}
#aboutProfile a > img{
	width:100%;
}
#aboutProfile a > p{
    margin: 10px 0px 3px 0px;
    text-align: center;
    color:#fff;
}


#boardDiv a,#calendarDiv a,#projectDiv a{
	color : white;
}
#boardDiv a[class=currPointer],#calendarDiv a[class=currPointer],#myChatList a[class=currPointer],#projectDiv a[class=currPointer]{
	color: #E5675A;
}

.chatList,#projectList{
	display: none;
}
#boardDiv,#calendarDiv,#myChatList{
	margin: 0px 0;
    padding: 0px 0px 13px 0px;
    text-align: left;
/*     border-bottom: 1px solid #1a4863; */
}
#projectDiv{
	margin: 0px 0;
    padding: 36px 0px 17px 0px;
    text-align: left;
/*     border-bottom: 1px solid #1a4863; */
}
#projectDiv h3 svg, #myChatList h3 svg{
	float: right;
    margin-right: 5px;
    font-size: 18px;
}
#myChatList h3 svg:hover,#projectDiv h3 svg:hover{
	cursor: pointer;
	color :	#E5675A; 
}
#myChatList h3 a{
	color : white;
}
#myChatList h3 a:hover, #projectDiv h3 a:hover{
	color :	#E5675A; 
}
#boardDiv a:hover,#calendarDiv a:hover{
	color: #E5675A;
}
#myChatList h3{
	font-size : 20px;
	font-weight : bolder;
	margin-left: 11px;
	padding:0 8px 5px 0px;
}
#boardDiv h3,#calendarDiv h3{
	font-size : 20px;
	font-weight : bolder;
	padding:0 25px 5px 0px;
	margin-left: 11px;
}
#projectDiv h3{
	font-size : 20px;
	font-weight : bolder;
    padding: 0 8px 5px 0px;
    margin-left: 11px;
}

#mainDiv{
    text-align: right;
    position: absolute;
    bottom: 25px;
    left: 28px;
}
#mainDiv a{
	font-size: 16px;
    color: #769dad;
}
#mainDiv a:hover{
	color : #E5675A;
}
#myChatList ul,#projectDiv ul{
    padding-top: 5px;
}
#myChatList ul li,#projectDiv ul li{
	transition:color 0.2s;
	color:#CCCBCA;
	padding:10px 0px 10px 20px;
	font-size:14px;
}
#myChatList ul li.currChat, #projectDiv ul li.currProject{
	background-color:#E5675A;
	font-weight: bolder;
	color:#fff;
}
#myChatList ul li:hover,#projectDiv ul li:hover{
	background-color : #194661;
	cursor : pointer;
}
#myChatList ul li.currChat:hover,#projectDiv ul li.currProject:hover{
	background-color: #ed7b6f;
}

.wsSelectOption{
	background-color: #5D829E;
	padding : 5px;
	color : white;
}
#workspaceSelector{
	width: 90%;
    padding: 7px;
    flex-flow: wrap-reverse;
    font-size: 13px;
    font-weight: 300;
    color: white;
    background-color: #5D829E;
    border: none;
    border-radius: 3px;
    margin-top: 23px;
}

#wsNav #memberInfoModal{
	color: #403C39;
    width: 400px;
    left : 57%;
}
.memberProfileInfo h3, .memberProfileInfo p{
	margin-bottom:7px;
}
.attachModal .memberProfileInfo p{
	margin-top : 0px;
}
#logoutBtn{
	background-color: transparent;
	line-height: 0px;
	padding :0px;
    height: 12px;
    width : 46px;
    color: #E5675A;
    border: none;
    font-size: 11px;
    font-weight: bolder;
}
#logoutBtn:hover{
	cursor: pointer;
	transition:color 0.2s;
	color:white;
	
}

#removeMemberDiv{
	display: none;
}
.currPointer{
	color : #E5675A;
}






