@charset "UTF-8";

#wsNav {
	width:200px;
	height:calc(100% - 70px);
	position:fixed;
	left:0;
	bottom:0;
	color:#fff;
	background-color:#403C39;
}
#navContainer{
	width:100%;
	margin:0 auto;
	height:100%;
	text-align:center;
}
#aboutProfile{
	margin-top:30px;
}

#aboutProfile  a{
	display:block;
	border-radius:50%;
	border:2px solid #fff;
	margin:0 auto;
	width:96px;
	height:96px;
	overflow:hidden;
}
#aboutProfile a > img{
	width:100%;
}
#aboutProfile p {
	margin:10px 0;
	text-align:center;	
}
#myChatList{
	margin: 20px 0;
	text-align:right;
}
#myChatList h3{
	font-size : 20px;
	font-weight : bolder;
	padding:0 30px 5px 0px;
}
#myChatList ul{
	padding-top:5px;
}
#myChatList ul li{
	padding:10px 30px 10px 10px;
	font-size:14px;
}
#myChatList ul li.currChat{
	background-color:#E5675A;
}
#myChatList ul li.currChat a{
	color:#fff;
}
#myChatList ul li a{
	transition:color 0.2s;
	color:#CCCBCA;
}
#myChatList ul li a:hover{
	color:#fff;
}
#subfunction{
	width : 100%;
	display: block;
	position : absolute;
	bottom: 0;
}
#subfunction hr{
	border: 0.5px solid #756f6e;
	width : 80%;
}
#ws-subfunction{
	
	padding-top:10px;
	margin-bottom: 50px;
}
#ws-subfunction li{
	float:left;
	width:50%;
}
#ws-subfunction li a{
	transition:background-color 0.2s;
	display:table-cell;
	vertical-align : middle;
	border-radius:5px;
	width:85px;
	height : 38px;
	background-color:#888;
	color:#fff;
	font-size:14px;
	
}
#ws-subfunction li a:hover{
	background-color:#E5675A;
}

.wsSelectOption{
	background-color: #403C39;
	padding : 5px;
	color : white;
}
#workspaceSelector{
	width : 90%;
	padding : 5px;
	background-color: #5e5756;
	border : none;
	border-radius: 3px;
}












