@charset "UTF-8";
.attachModal h3{
	font-size: 25px;
    font-weight: 700;
    color: white;
}
#wsBodyContainer h2{
	color : #424c73;
	font-size: 1.7em;
	font-weight: bolder;
	margin-bottom: 30px;
}
#wsBodyContainer h3{
	color: #424c73;
    font-size: 21px;
    font-weight: 500;
}
#wsBodyContainer h4{
	color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top:0px;
}
#addTodo{
	position: absolute;
	display: inline-block;
    top: 172px;
    left: calc(100% - 230px);
    width: 97px;
    padding: 6px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#addTodo:hover{
	background-color: #E5675A;
}
.todo{
	position: relative;
	display: inline-block;
	background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    width: 294px;
    height: 84px;
    margin-bottom: 3px;
}
.todo:hover{
	box-shadow: 0px 0px 6px 1px rgba(33, 33, 33, 0.1);
}
#currProjectProgress{
	margin-top : 10px;
	margin-bottom: 20px;
}
.tdDate{
	display: inline-block;
    position: relative;
    font-size: 10px;
    vertical-align: super;
    left: 2%;
    top: 7px;
   	color: #717488;
}
.tdDate p{
	display: inline-block;
}


.tdInfo{
	margin-left: 6px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    width: 63%;
}
.tdInfo h4{
	margin-bottom:10px;
}
.tdMemberInfo{
	margin-bottom: 5px;
}
.tdMemberInfo p{
	display: inline-block;
    vertical-align: super;
    position: absolute;
    margin-top: 14px;
    margin-left: 9px;
    font-size: 13px;
    font-weight: 500;
    color: #544f4d;
}
#wsBodyContainer .tdInfo-titleContent h4{
	color : #454241;
}
#wsBodyContainer .tdInfo-titleContent p{
	font-weight: 300;
    font-size: 13px;
}
.tdInfo-titleContent{
	display: inline-block;
    margin-left: 0px;
    color: #454241;
    vertical-align: top;
}
.todoInnerBtn{
	display: inline-block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 84px;
}
.isComplete{
	
	color: #bdc3c3;
	text-align: center;
    width: 75px;
    height: 15px;
    font-size: 11px;
    margin-bottom: 4px;
    padding-top: 6px;
    padding: 4px;
    background-color: #fafafa;
    border-radius: 2px;
    border: 0.5px solid #d4d4d4;
    cursor: pointer;
}
.todoInnerBtn button{
	color: #504c4c;
    width: 40px;
    font-size: 11px;
    padding: 3px;
    background-color: #fafafa;
    border-radius: 2px;
    border: 0.5px solid #d4d4d4;
    cursor: pointer;
}
.todoInnerBtn button:hover{
	background-color: #e6e6e6;
}
#backToProjectMain{
	display: inline-block;
    position: absolute;
    top: 172px;
    left: calc(100% - 356px);
    width: 120px;
    padding: 6px;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #dddd;
    cursor: pointer;
}
#backToProjectMain:hover{
	background-color: #eee;
}
.tdInfo .profileImg img{
	width: 60px;
    height: 60px;
}
.attachModal .profileImg {
	margin-right : 5px;
}
.profileImg img {
	width: 40px;
    height: 40px;
    border-radius: 50%;
}

.selectTodoMemberUL li{
	padding-top: 7px;
    padding-bottom: 7px;
	display: inline-block;
    border-radius: 5px;
}
.checkedLI{
	background-color: #bce2eb;
}
.selectTodoMemberUL .checkedLI:hover{
	background-color: #bce2eb;
}
.selectTodoMemberUL li:hover{
	cursor: pointer;
	background-color: #eee;
}
.selectTodoMemberUL li:checkbox{
	display: none;
}
#addTodoModal .selectTodoMemberUL p,#modifyTodoModal .selectTodoMemberUL p{
	font-size: 12px;
	margin-top:5px;
}
#modalBtnDiv button{
	margin-top:15px;
}
progress {
  border: none;
  height: 20px;
  background: white;
  border-radius: 4px;
  width: calc(100% - 362px);
}

progress::-webkit-progress-value {
  background: #E5675A;
  border-radius: 4px 0px 0px 4px;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 4px;
  border:1px solid #cf8e82;
}

.onePmMember{
	float: left;
    max-height: 600px;
    display: inline-block;
    width: 316px;
    margin-left: 5px;
    background-color: #f3f3f3;
    padding: 8px 7px 3px 7px;
    margin-bottom: 5px;
    border-radius: 4px;
}
.onePmMember .profileImg{
	display: inline-block;
}
