@charset "UTF-8";
#wsBodyContainer h2{
	color : #403C39;
	font-size: 2.5em;
	font-weight: bolder;
	margin-bottom: 30px;
}
#wsBodyContainer h3{
	color: #403C39;
    font-size: 21px;
    font-weight: 500;
}
#wsBodyContainer h4{
	color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top:0px;
}
#addTodo{
	display: inline-block;
    position: absolute;
    top: 135px;
    left: calc(100% - 172px);
    width: 97px;
    padding: 6px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#addTodo:hover{
	background-color: #E5675A;
}
.todo{
	background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
	
}
#currProjectProgress{
	margin-bottom: 20px;
}
.tdDate{
    position: relative;
    top: -91px;
    left: calc(100% - 541px);
    font-size: 13px;
}
.tdDate p{
	display: inline-block;
}


.tdInfo{
	margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.tdInfo h4{
	margin-bottom:10px;
}
.todoInnerBtn button{
    width: 6%;
    padding: 6px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 0.5px solid #d4d4d4;
    cursor: pointer;
}
.todoInnerBtn button:hover{
	background-color: #e6e6e6;
}
.isComplete{
	cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #9e9d9d;
}
#backToProjectMain{
	display: inline-block;
    position: absolute;
    top: 135px;
    left: calc(100% - 296px);
    width: 120px;
    padding: 6px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#backToProjectMain:hover{
	background-color: #E5675A;
}