@charset "UTF-8";
.attachModal h3{
	font-size: 25px;
    font-weight: 700;
    color: white;
}
#wsBodyContainer h2{
	color : #403C39;
	font-size: 2.5em;
	font-weight: bolder;
	margin-bottom: 30px;
}
#wsBodyContainer h3{
	color: #403C39;
    font-size: 21px;
    font-weight: 500;
}
#wsBodyContainer h4{
	color: black;
    font-size: 18px;
    font-weight: 700;
    margin-top:0px;
}
#addTodo{
	position: absolute;
	display: inline-block;
    top: 172px;
    left: calc(100% - 172px);
    width: 97px;
    padding: 6px;
    background-color: #403C39;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
#addTodo:hover{
	background-color: #E5675A;
}
.todo{
	display: inline-block;
	background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    width: 309px;
    height: 84px;
}
.todo:hover{
	background-color: #f5f5f5;
}
#currProjectProgress{
	margin-top : 10px;
	margin-bottom: 20px;
}
.tdDate{
    display: inline-block;
    position: relative;
    font-size: 11px;
    left: 13%;
}
.tdDate p{
	display: inline-block;
}


.tdInfo{
	margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.tdInfo h4{
	margin-bottom:10px;
}
.tdMemberInfo{
	display:inline-block; 
	
}
.tdMemberInfo p{
	margin-top: 3px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #544f4d;
}
#wsBodyContainer .tdInfo-titleContent h4{
	color : #454241;
}
.tdInfo-titleContent{
	display: inline-block;
    margin-left: 0px;
    color: #454241;
    vertical-align: top;
    margin-top: 5px;
}
.todoInnerBtn{
	display: inline-block;
    position: relative;
    left: calc(100% - 117px);
    bottom: 16px;
}
    
.todoInnerBtn button{
    width: 60px;
    padding: 6px;
    background-color: #fafafa;
    border-radius: 4px;
    border: 0.5px solid #d4d4d4;
    cursor: pointer;
}
.todoInnerBtn button:hover{
	background-color: #e6e6e6;
}
.isComplete{
	cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}
#backToProjectMain{
	display: inline-block;
    position: absolute;
    top: 172px;
    left: calc(100% - 296px);
    width: 120px;
    padding: 6px;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid #dddd;
    cursor: pointer;
}
#backToProjectMain:hover{
	background-color: #eee;
}
.tdInfo .profileImg img{
	width: 60px;
    height: 60px;
}
.attachModal .profileImg {
	margin-right : 5px;
}
.profileImg img {
	width: 40px;
    height: 40px;
    border-radius: 50%;
}

.selectTodoMemberUL li{
	padding-top: 7px;
    padding-bottom: 7px;
	display: inline-block;
    border-radius: 5px;
}
.checkedLI{
	background-color: #bce2eb;
}
.selectTodoMemberUL .checkedLI:hover{
	background-color: #bce2eb;
}
.selectTodoMemberUL li:hover{
	cursor: pointer;
	background-color: #eee;
}
.selectTodoMemberUL li:checkbox{
	display: none;
}
#addTodoModal .selectTodoMemberUL p,#modifyTodoModal .selectTodoMemberUL p{
	font-size: 12px;
	margin-top:5px;
}
progress {
  border: none;
  height: 20px;
  background: white;
  border-radius: 4px;
}

progress::-webkit-progress-value {
  background: #E5675A;
  border-radius: 4px 0px 0px 4px;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 4px;
  border:1px solid #cf8e82;
}

.onePmMember{
	float: left;
	height: 618px;
	display: inline-block;
    width: 330px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #d4cece;
    border-radius: 4px;
}

