@charset "UTF-8";
#wsBody .attachModal h3{
	font-size: 23px;
}
#wsBody .attachModal input[type='text']{
	width : calc(100% - 100px);
	margin : 5px;
}
#wsBodyContainer h2{
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 30px;
}

#wsBodyContainer h3{
	font-size: 1em;
	font-weight: bolder;
	margin-bottom: 30px;
}
.row{
	margin-top : 10px;
	margin-bottom: 10px;	
}
#myChatList{
	display: none;
}
#ws-subfunction{
	display: none;
}
#chatRoomInfo{
	display: none;
}
.wsDetail{
display : none;
}
.row ul{
	list-style: none;
	padding-left: 0px;
}
.ws{
	padding : 30px;
	margin-bottom : 10px;
	background-color: #bcc2be;
}
.ws h3{
	display: inline-block;
	font-weight: bolder;
}
.ws li{
	display: inline-block;
	padding : 10px;
}
.wsDetail p{
	font-weight: bolder;
}
.showWsDetail{
	position: relative;
	left : calc(100% - 160px);
}
.showWsDetail:hover{
	color: #f2452e;
	font-weight: bolder;
}
.wsDetail{
	padding : 10px;
}
#wsBodyContainer{
	padding:30px;
}
#exitWs{
	text-align: right;
	padding-right : 20px;
	font-size: 14px;
}
.crRoundBox{
	display: inline-block;
	margin-right: 10px;
	margin-top : 10px;
	margin-bottom : 10px;
	background-color: white;
	border-radius: 10px;
}
.crRoundBox:hover{
	background-color: #f54b38;
	font-weight: bolder;
}
.wsmRoundBox{
	display: inline-block;
	margin-right: 10px;
	margin-top : 10px;
	margin-bottom : 10px;
	background-color: white;
	border-radius: 10px;
}
.wsmRoundBoxOn{
	display: inline-block;
	margin-right: 10px;
	margin-top : 10px;
	margin-bottom : 10px;
	background-color: red;
	border-radius: 10px;
}
.wsDetail ul a[href='#']{
	margin-right: 10px;
	margin-bottom : 10px;
	background-color: white;
	width:10px;
	height:10px;
	text-align : center;
	padding-left : 7px;
	padding-right : 7px;
	border-radius: 50%;
	font-weight: bolder;
}
#wsMemberList li{
	display: inline-block;
	padding-left : 10px;
	padding-right : 10px;
}