<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CalendarDao">
	<insert id="insertCalendar" parameterType="calendar">
		<selectKey order="BEFORE" keyProperty="cNum" resultType="int">
			select cal_seq.nextval from dual
		</selectKey>
		insert into calendar(cal_num, m_num, w_num, cal_type, cal_start_date, cal_end_date, cal_title, cal_content, cal_regDate, cal_annually, cal_monthly, cal_yearCalendar, cal_color) 
		values(#{cNum}, #{mNum}, #{wNum}, #{type}, #{startDate}, #{endDate}, #{title}, #{content}, sysdate, #{annually}, #{monthly}, #{yearCalendar}, #{color})
	</insert>
	<update id="updateCalendar" parameterType="calendar">
		update calendar
		set m_num=#{mNum}, w_num=#{wNum}, cal_type=#{type}, cal_start_date=#{startDate}, cal_end_date=#{endDate}, cal_title=#{title}, cal_content=#{content}, cal_annually=#{annually}, cal_monthly=#{monthly}, cal_yearCalendar=#{yearCalendar}, cal_color=#{color} 
		where cal_num=#{cNum}
	</update>
	<delete id="deleteCalendar" parameterType="int">
		delete calendar
		where cal_num=#{cNum}
	</delete>
	<select id="selectCalendar" parameterType="int" resultMap="calendarMap">
		select * from calendar where cal_num=#{cNum}
	</select>
	<select id="selectAllCalendar" parameterType="int" resultMap="calendarMap">
		select * from calendar where w_num=#{wNum}
	</select>
	<select id="selectAllCalendarByMonth" parameterType="map" resultMap="calendarMap">
		select * from calendar where w_num=#{wNum}
		and cal_start_date <![CDATA[<=]]> #{startDate}
		and cal_end_date <![CDATA[>=]]> #{endDate}
	</select>
	<select id="selectAllCalendarSearched" parameterType="map" resultMap="calendarMap">
		select rownum, cal_title, cal_content, m_name, cal_start_date, cal_end_date
		from
		(select rownum as rnum, cal_title, cal_content, m_name, cal_start_date, cal_end_date
		from 
		(select rownum, c.cal_title, c.cal_content, m.m_name, c.cal_start_date, c.cal_end_date
		from calendar c, member m 
		where c.m_num = m.m_num
		and c.w_num=#{wNum}) 
		where 1=0
		<if test="title != null"> or cal_title like ('%'||#{title}||'%') </if>
		<if test="content != null"> or cal_content like ('%'||#{content}||'%') </if>
		<if test="mName != null"> or m_name like ('%'||#{mName}||'%') </if>
		<if test="searchType == 0"> or 1=1 </if>
		order by cal_start_date asc)
		where rnum between #{firstRow} and #{endRow}
	</select>
	<select id="selectCalendarCount" parameterType="map" resultType="int">
		select count(*)
		from 
		(select c.cal_title, c.cal_content, m.m_name, c.cal_start_date, c.cal_end_date
		from calendar c, member m 
		where c.m_num = m.m_num
		and c.w_num=#{wNum}) 
		where 1=0
		<if test="title != null"> or cal_title like ('%'||#{title}||'%') </if>
		<if test="content != null"> or cal_content like ('%'||#{content}||'%') </if>
		<if test="mName != null"> or m_name like ('%'||#{mName}||'%') </if>
		<if test="searchType == 0"> or 1=1 </if>
	</select>
	<resultMap type="calendar" id="calendarMap">
		<result column="cal_num" property="cNum"/>
		<result column="m_num" property="mNum"/>
		<result column="m_name" property="mName"/>
		<result column="w_num" property="wNum"/>
		<result column="cal_type" property="type"/>
		<result column="cal_start_date" property="startDate"/>
		<result column="cal_end_date" property="endDate"/>
		<result column="cal_title" property="title"/>
		<result column="cal_content" property="content"/>
		<result column="cal_regDate" property="regDate"/>
		<result column="cal_annually" property="annually"/>
		<result column="cal_monthly" property="monthly"/>
		<result column="cal_yearCalendar" property="yearCalendar"/>
		<result column="cal_color" property="color"/>
	</resultMap>
</mapper>