<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChatMessageDao">
	<insert id="insertChatMessage" parameterType="chatMessage">
		<selectKey resultType="int" keyProperty="cmNum" order="BEFORE">
			select cm_seq.nextval from dual
		</selectKey>
		insert into chat_message(cm_num,cr_num,m_num,cm_content,cm_type)
		values(#{cmNum},#{crNum},#{mNum},#{cmContent},#{cmType})
	</insert>
	<delete id="deleteChatMessage" parameterType="int">
		delete chat_message where cm_num=#{cmNum}
	</delete>
	<select id="selectChatMessageByCmNum" parameterType="int" resultMap="cmMap">
		select cm.cm_num,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date, m.m_name, cm.cm_type, m.m_profileimg
		from chat_message cm,member m
		where cm.m_num=m.m_num and cm_num=#{cmNum}
	</select>
	<select id="selectAllChatMessageByCrNum" resultMap="cmMap">
		select a.cm_num,a.cr_num,a.m_num,a.cm_content,a.cm_write_date,a.m_name,a.cm_type,a.m_profileimg, f.f_num
		from (select cm.cm_num  ,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,m.m_name,cm.cm_type,m.m_profileimg
        		from chat_message cm, member m 
        		where cm.m_num=m.m_num and cm.cr_num=#{param1}) a left outer join favorite f
		on f.cm_num = a.cm_num and f.m_num=#{param2}
		order by a.cm_num asc
	</select>
	
<!-- 	최근 30개 채팅 불러오기 -->
	<select id="selectRecentChatMessageByCrNum" resultMap="cmMap"> 
		select rownum, cm_num, cr_num, m_num, cm_content, cm_write_date, m_name, cm_type, m_profileimg, f_num
		from (select a.cm_num,a.cr_num,a.m_num,a.cm_content,a.cm_write_date,a.m_name,a.cm_type,a.m_profileimg, f.f_num
				from (select cm.cm_num  ,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,m.m_name,cm.cm_type,m.m_profileimg
		        		from chat_message cm, member m 
		        		where cm.m_num=m.m_num and cm.cr_num=#{param1}) a left outer join favorite f
				on f.cm_num = a.cm_num and f.m_num=#{param2}
				order by a.cm_num desc)
		where rownum &lt;= 30
		order by cm_num asc
	</select>
<!-- 	채팅 10개씩 더 불러오기 -->
	<select id="selectMoreChatMessageByCrNum" resultMap="cmMap"> 
		select cm_num, cr_num, m_num, cm_content, cm_write_date, m_name, cm_type, m_profileimg, f_num
		from (select rn, a.cm_num,a.cr_num,a.m_num,a.cm_content,a.cm_write_date,a.m_name,a.cm_type,a.m_profileimg, f.f_num
				from (select /*+ INDEX_DESC(cm SYS_C005239 ) */ rownum rn, cm.cm_num  ,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,m.m_name,cm.cm_type,m.m_profileimg
		        		from chat_message cm, member m 
		        		where cm.m_num = m.m_num and cm.cr_num=#{param1}) a left outer join favorite f
				on f.cm_num = a.cm_num and f.m_num=#{param2}
                order by rn)
		where rn &gt;= 30 + ( 10*${param3} +1 ) and rn &lt;= 30 + ( 10*(${param3}+1))
	</select>
	
	<!-- 검색과 페이징을 위한.. -->
	<select id="selectChatMessage" resultMap="cmMap">
		select * from (
		select rownum as rnum,cm_num,cr_num,m_num,cm_content,cm_write_date,cm_type
        from(select * from chat_message order by cm_num desc))
		where rnum between #{firstRow} and #{endRow}
	</select>
	<select id="searchChatMessage" parameterType="map" resultMap="cmMap">
			select * from (
		        select rownum as rnum,m_name,cm_num,cr_num,m_num,cm_content,cm_write_date,cm_type
		        from (
		        select * from (select cm.cm_num,m.m_name,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,cm.cm_type
		        from chat_message cm, member m
		        where cm.m_num=m.m_num and cr_num=#{crNum}) cmm
		        where 1=0
		        <if test="content!=null">
		           or upper(cmm.cm_content) like ('%'||upper('${keyword}')||'%')
		        </if>
		        <if test="name!=null">
		           or upper(cmm.m_name) like ('%'||upper('${keyword}')||'%')
		        </if>
		           order by cmm.cm_num asc))
		     where rnum between #{firstRow} and #{endRow}
	</select>
	<select id="selectSearchedCmCount" parameterType="map" resultType="int">
			select count(*) from (
			select * from (
		        select rownum as rnum,m_name,cm_num,cr_num,m_num,cm_content,cm_write_date,cm_type
		        from (
		        select * from (select cm.cm_num,m.m_name,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,cm.cm_type
		        from chat_message cm, member m
		        where cm.m_num=m.m_num and cr_num=#{crNum}) cmm
		        where 1=0
		        <if test="content!=null">
		           or cmm.cm_content like ('%'||upper('${keyword}')||'%')
		        </if>
		        <if test="name!=null">
		           or cmm.m_name like ('%'||upper('${keyword}')||'%')
		        </if>
		           order by cmm.cm_num asc))
		     where rnum between #{firstRow} and #{endRow})
	</select>
	
	
	
	<!-- 채팅방 즐겨찾기 추가/삭제/조회 -->
	<insert id="insertFavorite">
		insert into favorite
		values(f_seq.nextval, #{param1}, #{param2})
	</insert>
	<delete id="deleteFavorite">
		delete
		from favorite
		where cm_num = #{param1}
	</delete>
	<select id="selectChatFavoriteList" resultMap="cmMap">
		select cm.cm_num  ,cm.cr_num,cm.m_num,cm.cm_content,cm.cm_write_date,m.m_name,cm.cm_type,m.m_profileimg,f.f_num
		from chat_message cm, member m, favorite f 
		where cm.m_num=m.m_num and cm.cr_num=#{param1} and cm.cm_num = f.cm_num and f.m_num=#{param2}
		order by f.f_num desc
	</select>
	<delete id="deleteFavoriteByMnum">
		delete
		from favorite
		where m_num = #{param1}
	</delete>
	<resultMap type="chatMessage" id="cmMap">
		<result column="cr_num" property="crNum"/>
		<result column="cm_num" property="cmNum"/>
		<result column="m_num" property="mNum"/>
		<result column="cm_content" property="cmContent"/>
		<result column="cm_write_date" property="cmWriteDate"/>
		<result column="m_name" property="mName"/>
		<result column="m_profileimg" property="profileImg"/>
		<result column="cm_type" property="cmType"/>
		<result column="f_num" property="isFavorite"/>
	</resultMap>
</mapper>