<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChatRoomDao">
	<insert id="insertChatRoom" parameterType="chatRoom">
		<selectKey order="BEFORE" keyProperty="crNum" resultType="int">
			select cr_seq.nextval from dual
		</selectKey>
		insert into chatroom(cr_num,w_num,m_num,cr_name,cr_isdefault)
		values(#{crNum},#{wNum},#{mNum},#{crName},#{crIsDefault})
	</insert>
	<update id="updateChatRoom" parameterType="chatRoom"><!-- chatroom수정은 이름만 바꾸게 -->
		update chatroom set cr_name=#{crName} where cr_num=#{crNum}
	</update>
	<delete id="deleteChatRoom" parameterType="int">
		delete chatroom where cr_num=#{crNum}
	</delete>
<!-- 	<delete id="deleteEmptyChatRoom"> -->
<!-- 		delete from chatroom cr where ( -->
<!-- 		select count(*) from chatroom_member crm where crm.cr_num=cr.cr_num)=0 -->
<!-- 	</delete> -->
	<select id="selectChatRoom" parameterType="int" resultMap="chatRoomMap">
		select * from chatroom where cr_num=#{crNum}
	</select>
	<select id="selectChatRoomByMnum" parameterType="int" resultMap="chatRoomMap">
		select * from chatroom where m_num=#{mNum}
	</select>
	<select id="selectDefaultChatRoomByWnum" parameterType="int" resultMap="chatRoomMap">
		select * from chatroom where w_num=#{wNum} and cr_isdefault=1
	</select>
	
	<select id="selectAll" resultMap="chatRoomMap">
		select * from chatroom
	</select>
	<select id="selectAllByWnum" parameterType="int" resultMap="chatRoomMap">
		select * from chatroom where w_num=#{wNum}
	</select>
	<select id="selectAllChatRoomByWnumMnum" resultMap="chatRoomMap">
		select cr.w_num,cr.cr_num,cr.m_num,cr.cr_name,cr.cr_regdate,cr.cr_isdefault,cr.p_num
		from chatroom cr,chatroom_member crm,member m
		where cr.w_num=#{wNum} and cr.cr_num=crm.cr_num and crm.m_num=m.m_num and m.m_num=#{mNum}
		order by cr.cr_num asc
	</select>
	<resultMap type="chatRoom" id="chatRoomMap">
		<result column="cr_num" property="crNum"/>
		<result column="p_num" property="pNum"/>
		<result column="m_num" property="mNum"/>
		<result column="w_num" property="wNum"/>
		<result column="cr_name" property="crName"/>
		<result column="cr_regdate" property="crRegDate"/>
		<result column="cr_isdefault" property="crIsDefault"/>
	</resultMap>
</mapper>