<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReplyDao">
	
	<select id="selectReplyByBnum" parameterType="int" resultMap="replyMap">
		select r_num, b_num, m_name, m_profileimg, r.m_num, r_content, r_regdate
		from reply r, member m
		where r.b_num = #{bNum} and m.m_num = r.m_num
		order by r.r_regdate desc
	</select>
	<insert id="insertReply" parameterType="reply">
		insert into reply
		values(
			r_seq.nextval,
			#{bNum},
			#{mNum},
			#{content},
			sysdate
			)
	</insert>
	<update id="updateReply" parameterType="reply">
		update reply set r_content = #{content} where r_num = #{rNum}
	</update>
	<delete id="deleteReply" parameterType="int">
		delete from reply where r_num = #{rNum}	
	</delete>
	
	<resultMap type="reply" id="replyMap" >
		<result column="r_num" property="rNum"/>
		<result column="b_num" property="bNum"/>
		<result column="m_num" property="mNum"/>
		<result column="m_name" property="mName"/>
		<result column="m_profileimg" property="imgPath"/>
		<result column="r_content" property="content"/>
		<result column="r_regdate" property="regDate"/>
	</resultMap>
	
</mapper>