<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.WorkspaceDao">
	<insert id="insertWorkspace" parameterType="workspace">
		<selectKey order="BEFORE" keyProperty="num" resultType="int">
			select w_seq.nextval from dual
		</selectKey>
		insert into workspace(w_num,m_num,w_name)
		values(#{num},#{mNum},#{name})
	</insert>
	<update id="updateWorkspace" parameterType="workspace">
		update workspace set m_num=#{mNum},w_name=#{name}
		where w_num=#{num}
	</update>
	<delete id="deleteWorkspace" parameterType="int">
		delete workspace where w_num=#{num}
	</delete>
	
	<select id="selectWorkspace" parameterType="int" resultMap="workspaceMap">
		select * from workspace where w_num=#{num}
	</select>
	<select id="selectAllWorkspace" resultMap="workspaceMap">
		select * from workspace
	</select>
	<select id="selectWnum"></select>
	<resultMap type="workspace" id="workspaceMap">
		<result column="w_num" property="num"/>
		<result column="m_num" property="mNum"/>
		<result column="w_name" property="name"/>
		<result column="w_regdate" property="regDate"/>
	</resultMap>
</mapper>