<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.WsMemberDao">
	<insert id="insertWsMember" parameterType="wsMember">
		insert into workspace_member(wm_num,w_num,m_num)
		values(wm_seq.nextval,#{wNum},#{mNum})
	</insert>
	<delete id="deleteWsMember">
		delete workspace_member where w_num=#{wNum} and m_num=#{mNum}
	</delete>
	<delete id="deleteAllWsMemberByMnum" parameterType="int">
		delete workspace_member where m_num=#{mNum}
	</delete>
	<select id="selectWsMember" resultMap="wsMemberMap">
		select * from workspace_member where w_num=#{wNum} and m_num=#{mNum}
	</select>
	<select id="selectAllWsMember" resultMap="wsMemberMap">
		select * from workspace_member
	</select>
	<select id="selectAllWsMemberByCrNum" resultMap="wsMemberMap" parameterType="int">
		select wsm.wm_num,wsm.m_num,wsm.w_num from workspace_member wsm,chatroom cr
		where cr.cr_num=#{crNum} and cr.w_num=wsm.w_num
	</select>
	<select id="selectAllWsMemberByWnum" resultMap="wsMemberMap" parameterType="int">
		select wsm.*,m.m_name from workspace_member wsm,member m where wsm.m_num=m.m_num and wsm.w_num=#{wNum}
	</select>
	<select id="selectAllMnumByWnum" resultType="int" parameterType="int">
		select m_num from workspace_member where w_num=#{wNum}
	</select>
	<select id="selectAllWnumByMnum" resultType="int" parameterType="int">
		select w_num from workspace_member where m_num=#{mNum} order by w_num asc
	</select>
	<resultMap type="wsMember" id="wsMemberMap">
		<result column="m_name" property="mName"/>
		<result column="wm_num" property="wmNum"/>
		<result column="m_num" property="mNum"/>
		<result column="w_num" property="wNum"/>
	</resultMap>
</mapper>